/vendor/
/.idea/
/.vscode/
/.phpunit.result.cache
/.phpstan/
/.php-cs-fixer.cache
/.env
/.env.*
!/example.env
/storage/*
!/storage/.gitkeep
/var/
/public/storage/pet-photos/*
!/public/storage/pet-photos/.gitkeep
